/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */
.container {
    margin: 0 auto;
    width: 60%;

    /* TEST */
    height: 100%;
}

nav > ul {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* HEADER */
header {

    /* TEST */
    height: 450px;
    background-color: aqua;
}


/* HEADER TOP */
.header-top {


    /* TEST */
    height: 50px;
    background-color: #add8e6;
}

.flex-container > * {
    padding: 5px 5px;

    /* TEST */
    background-color: #daa520;
    border: 1px dotted black;
}

.flex-container {
    width: 100%;
    display: flex;
    align-items: center;

    /* TEST */
    height: 100%;
}

.logo {
    width: 20%;
}

.header-nav-bar {
    width: 60%;
}

.header-nav-bar li {
    padding: 0 10px;
}

.user-side {
    width: 20%;
    text-align: right;
}


/* HEADER BOTTOM */
.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    /* TEST */
    height: 400px;
    background-color: #00008b;
}

.jumbotron {
    width: 50%;
    height: 80%;

    /* TEST */
    background-color: #ee82ee;
    border: 2px dotted black;
}


/* MAIN */
.main-top > section {

    /* TEST */
    height: 450px;
}

main section:nth-child(even) {

    /* TEST */
    background-color: #d3d3d3;
}

.flex {
    display: flex;
    align-items: center;

    /* TEST */
    height: 100%;
}

.flex > div {

    /* TEST */
    border: 2px dotted black;
}

.flex.top > div {

    /* TEST */
    height: 80%;
}

.blue {
    width: 60%;

    /* TEST */
    background-color: #1e90ff;
}

.pink {
    width: 40%;

    /* TEST */
    background-color: #ffc0cb;
}


/* MAIN BOTTOM */
.main-bottom {

    /* TEST */
    height: 600px;
}

.flex.bottom > div {

    /* TEST */
    height: 85%;
}

.green {
    width: 100%;

    /* TEST */
    background-color: #228b22;
}


/* FOOTER */
footer {

    /* TEST */
    height: 500px;
    background-color: #23272a;
}

footer > div {

    /* TEST */
    border: 1px solid white;
}


/* FOOTER TOP */
.footer-top {

    /* TEST */
    height: 430px;
}

.foot-flex {
    display: flex;
    align-items: center;

    /* TEST */
    height: 100%;
}

.foot-flex > div {
    width: calc(70% / 4);

    /* TEST */
    height: 90%;
    border: 2px dotted white;
    background-color: #20b2aa;
}

.foot-flex > div:first-child {
    width: 30%;

    /* TEST */
    background-color: #f08080;
    border-color: black;
}


/* FOOTER BOTTOM */
.footer-bottom {

    /* TEST */
    height: 70px;
}

.flex-container.foot {
    padding: 0;
    justify-content: space-between;

    /* TEST */
    height: 70%;
    background-color: #7fffd4;
}

.footer-logo,
.footer-button {

    /* TEST */
    background-color: #ffb6c1;
}