/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */
.container {
    margin: 0 auto;
    width: 70%;

    /* TEST */
    height: 100%;
}

nav > ul {
    display: flex;
    justify-content: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* HEADER */
header {

    /* TEST */
    height: 450px;
    background-color: aqua;
}


/* HEADER TOP */
.header-top {


    /* TEST */
    height: 50px;
    background-color: #add8e6;
}

.flex-container > * {
    padding: 5px 5px;

    /* TEST */
    background-color: #daa520;
    border: 1px dotted black;
}

.flex-container {
    display: flex;
    align-items: center;

    /* TEST */
    height: 100%;
}

.logo {
    width: 20%;
}

.header-nav-bar {
    width: 60%;
}

.header-nav-bar li {
    padding: 0 10px;
}

.user-side {
    width: 20%;
    text-align: right;
}


/* HEADER BOTTOM */
.header-bottom {
    display: flex;
    justify-content: center;
    align-items: center;

    /* TEST */
    height: 400px;
    background-color: #00008b;
}

.jumbotron {
    width: 50%;
    height: 80%;

    /* TEST */
    background-color: #ee82ee;
    border: 1px dotted black;
}


/* MAIN */
.main-top > section {

    /* TEST */
    height: 450px;
}

main section:nth-child(even) {

    /* TEST */
    background-color: #d3d3d3;
}

.flex {
    display: flex;
    align-items: center;

    /* TEST */
    height: 100%;
}

.flex > div {

    /* TEST */
    border: 1px dotted black;
}

.flex.top > div {

    /* TEST */
    height: 80%;
}

.blue {
    width: 60%;

    /* TEST */
    background-color: #1e90ff;
}

.pink {
    width: 40%;

    /* TEST */
    background-color: #ffc0cb;
}


/* MAIN BOTTOM */
.main-bottom {

    /* TEST */
    height: 700px;
}

.flex.bottom > div {

    /* TEST */
    height: 85%;
}

.green {
    width: 100%;

    /* TEST */
    background-color: #228b22;
}